.footer {
  padding: 30px 0 18px;
  background-color: #444750;

  & .footer-top {
    height: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;

    & .nav-footer {
      & .nav-items {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 15px;

        & .nav-item {
          flex: auto;
          padding: 8px 0;
          color: #fff;

          @media (max-width: 990px) {
            flex: 50%;
          }

          & .nav-link {
            color: inherit;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  & .footer-bottom {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    & .copy-rights {
      padding-top: 15px;
      flex: 80%;
      color: #fff;
      @media (max-width: 767px) {
        text-align: center;
        order: 2;
      }
    }

    & .icons {
      flex: 20%;
      color: #fff;
      display: flex;
      justify-content: flex-end;

      & .social-icon {
        background-color: #fff;
        color: #444750;
        margin-right: 10px;
      }

      @media (max-width: 767px) {
        justify-content: center;
        order: 1;
      }
    }
  }
}
