.our-impact {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .discription-container {
    background-color: #fff;
    padding: 75px 0;

    & .container {
      text-align: center;
    }
  }
}
