.what-we-do {
  text-align: center;
  padding: 75px 0;

  & .container {
    margin: 0 auto 10px;
  }

  & .card-wrapper {
    display: flex;
    justify-content: space-between;

    & .card {
      flex: 0 0 31%;
      border-bottom: 3px solid #00723675;

      & .img-wrapper {
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          transition: 0.2s;
          object-fit: cover;
        }
      }

      & .title {
        text-align: left;
        padding: 15px 0;
      }

      &:hover .img-card {
        transform: scale(1.1);
      }

      &:hover {
        border-bottom-color: $primary-color;
      }

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }
}
