.who-are-we {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & .discription-container {
    background-color: #f5f5f5;
    padding: 75px 0;

    & .container {
      text-align: center;

      & a {
        margin-top: 30px;
      }
    }
  }
}
